img {
    width: 200px;
    height:200px;
}

body{
max-width:1000px;
margin: auto;
background-image: url("../css/img/milky-way.jpg");
color: white;
font-family: 'Frijole', cursive;
font-size: 30px;
text-align: center;
}

