body{
    text-align: center;
    margin: auto;
}

#yellow-crystal .ui-button-icon-primary{
    background: url('http://www.stackoverflow.com/favicon.ico');
}
#green-crystal .ui-button-icon-primary {
    background: url('https://www.google.com/favicon.ico');
}